<main class="container py-5">
  <h1>Users</h1>

  <form>
    <div class="mb-3 row">
      <label
        for="table-filtering-search"
        class="col-xs-3 col-sm-auto col-form-label"
        >Search for name:</label
      >
      <div class="col-xs-3 col-sm-auto">
        <input
          id="table-filtering-search"
          class="form-control"
          type="text"
          [formControl]="filter"
        />
      </div>
    </div>
  </form>

  <button class="btn btn-primary" (click)="resetBalance()">
    Reset Balance
  </button>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Age</th>
        <th scope="col">Registered date</th>
        <th scope="col">Email</th>
        <th scope="col">Balance</th>
      </tr>
    </thead>
    <tbody>
      @for (user of users$ | async; track user.email; let i = $index) {
      <tr>
        <th scope="row">
          <img
            [src]="getIcon(user.iconPath)"
            [alt]="user.iconPath"
            class="me-2"
            style="width: 20px"
          />
        </th>
        <td>
          <ngb-highlight [result]="user.name" [term]="filter.value" />
        </td>
        <td>{{ user.age }}</td>
        <td>{{ user.registered | date : "dd-MM-yyyy" }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.balance | currency : "GBP" : "symbol" : "1.2-2" }}</td>
      </tr>
      } @empty {
      <tr>
        <td colspan="6" style="text-align: center">No users found</td>
      </tr>
      }
    </tbody>
  </table>
</main>
